body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 30px 0 0;
    box-shadow: 1px 1px 1px black;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightgray;
}

article > aside {
    background-color: rgb(165, 165, 165);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
}

footer > p {
    margin: 0;
}